@import "tailwindcss"; 
@import "tw-animate-css";

/* 🔹 Buttons */
#my-button {
  display: inline-block;
  border-radius: 5px;
  background-color: #1418ff;
  padding: 0.75rem 3rem 0.625rem 3rem;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  color: #ffffff;
  box-shadow: 10px 10px 0px #000000;
  transition: all 150ms ease-in-out;
}
#my-button:active {
  background-color: #000000;
  color: white;
  transform: translateX(5px) translateY(5px);
  box-shadow: 0px 0px 0px #000000;
}

/* 🔹 Scrollbar hidden */
.scrollbar-hide::-webkit-scrollbar {
  background: transparent;
}

/* 🔹 Cards shadow */
#Cards {
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
